:root{

    --color-primary-veryDarkMagenta:hsl(300, 43%, 22%);
    --color-primary-softPink: hsl(333, 80%, 67%);

    --color-neutral-DarkGrayishMagenta:  hsl(303, 10%, 53%);
    --color-neutral-LightGrayishMagenta: hsl(300, 24%, 96%);
    --color-neutral-White: hsl(0, 0%, 100%);

    --font-primary: 'League Spartan', sans-serif;
}


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    font-family: var(--font-primary);
    font-size: 15px
}

img{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 15em;
}

.section-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}

.info{ 
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: .7;
}

.info h1{
font-size: 3rem;
font-weight: 700;
color: var(--color-primary-veryDarkMagenta);
}

.info p{
    color: var(--color-neutral-DarkGrayishMagenta);
    font-weight: 500;
    line-height: 1.5em;
}
.rating{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
}

.rating p{
    padding: 1em;
}

.rating__content{ 
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-LightGrayishMagenta);
    border-radius: 5px;
    padding:0 1em;
    min-width: 400px;
}

.rating__content p{
    text-align: center;
    font-weight: 700;
    color: var(--color-primary-veryDarkMagenta);
}

.rating-1{
    margin-right: 4em;

    
}
.rating-2{
    margin-right: 2em;
  
}
.rating-3{
    margin-right: 0em;

  
}

.rating__content__stars{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.rating__content__stars img{
    width: 20px;
    height: 20px;
}

.section-bottom{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--color-primary-veryDarkMagenta);
    border-radius: 10px;
    color: var(--color-neutral-White);
    gap: 1em;
    line-height: 1.5em;  
    height: 200px;
}

.customer-2{
    margin-top: 1em;
}

.customer-3{
    margin-top: 2em;
}

.card__customer{
    display: flex;
    align-items: center;
}

.card__customer__picture{
    border-radius: 50%;
    width: 40px;
}
.card__customer__info{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.card__customer__info p:last-child{
    color: var(--color-primary-softPink);
}

@media only screen and (max-width:600px)  {

    body{
        height: 100%;
    }
    .container{
        margin: 2em;
    }

    .section-top{
        margin-top: 5em;
       flex-direction: column;
       gap: 2em;
    }

    .info{
        text-align: center;
    }

    .section-bottom{
        flex-direction: column;
        gap: 1em;
     }

    .card{
        height: 100%;

    }

    .rating__content{
        width: 100%;
        padding: 1em;

    }

    .rating-1{
        margin: 0;
    }
    .rating-2{
        margin:0 ;
    }

    .customer-2{
        margin: 0;
    }
    .customer-3{
        margin: 0;

    }


    
}